<h4>Event Feed<i class="material-icons">volume_up</i></h4>
<%= link_to 'Back', event_path(@event), class:'btn waves-effect waves-light' %>
<%= render 'message-form'%>
<ul>
<% @messages.each do |m| %>
<li>
<%= m.text %>
</li>

<%end%>
</ul>
