<h1>API/Orders#NEW</h1>


<%= form_for :orders, url: api_orders_path do |f| %>
<div>
  <div class="input-field">
    <%= f.label :content %>
    <br>
    <%= f.text_field :content %>
    <br>
  </div>


  <button class='btn' action='<%= f.submit  %>'>Create Order
  </button>
  <% end %>
</div>
