NEW ITEM


<%= form_for :item, url: api_items_path do |f| %>
<div>
  <div class="input-field">
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
  </div>





  <button class='btn' action='<%= f.submit  %>'>Create Item
  </button>
  <% end %>
</div>
