<p id="notice"><%= notice %></p>


<%= link_to 'Add New Event', new_account_customer_event_path(@account, @customer), class: 'btn waves-effect waves-light' %>
<hr>



<div class="z-depth-1 indexEvent">
<h4>Events</h4>
</div>

<%= render 'events', events: @events %>

<br>
