<h1>Create New Order</h1>


<%= form_for [@location,@order], url: new_location_order_path do |f| %>
<div>
  

<div class="form_row">
  <%= f.label :content %>
  <%= f.text_field :content %>
  </div>

</div>






  <button class='btn' action='<%= f.submit  %>'>Create Order
  </button>
  <% end %>
</div>

<!-- <<script>
$(document).ready(function() {
 $('select').material_select();
});
</script> -->
