
<%= link_to "New Order", new_event_location_order_path(event_id: @location.event_id, location_id: @location.id), class: 'btn btn-primary btn-lg' %>

<% @orders.each do |order|  %>

  <h3> <%=link_to order.content, event_location_order_path(event_id: @location.event_id, location_id: @location.id, id: order.id)%> </h3>
<% end %>
