<h1 class="center">Welcome to<img class = 'splash-img' src="http://imageshack.com/a/img922/3479/R0MMsN.png" style="width:128px;height:128px;">
</h1>

<a class=" btn modal-action modal-close waves-effect waves-green center">Continue</a>
