@import "materialize/components/color-variables";
$primary-color: color("#ff5b03", "orange") !default;
$secondary-color: #ff5b03;
@import "materialize";

.orders-wrapper {
  height: 50vh;
  overflow: scroll;
  border: 3px solid black;
  margin-bottom: 10px;
}

#modal1 {
  min-height: 80%;
  max-height: 85%;
}

#modal2 {
  display: block;
  z-index: 1005;
  min-height: 20%;
  max-height: 20%;
}

.hidden {
  display: none;
}

.columnbgrnd {
  background-color: #333;
  border: 2px solid black;
  margin-bottom: 0;
  padding: 0;
}

.s9 {
  background-color: #e9e8ee;
}
.row .col {
  padding: 0;
}
.notification {
  position: relative;
  top: -2.9em;
  left: 8em;
}

.modal {
  background-color: #e9e8ee;
}

#modal1 img {
  background-image: url('<img src="http://imageshack.com/a/img922/3479/R0MMsN.png" style="width:128px;height:128px">');
}

select {
  display: inherit;
}

.event-show {
}

.locations-content {
  overflow: scroll;
}

.splash-img {
  margin-bottom: -45px;
}

.modal-close {
  left: 43%;
}

.menu-button {
  width: 100%;
  min-height: 3em;
}

.event-name {
  display: inline-block;
}

.map-label {
  color: #000;
  background-color: white;
  border: 1px solid #000;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  padding: 2px;
}

.map-label.bar {
  background-color: #ff5b03;
}

.map-label.storage {
  background-color: gray;
}

.map-label.compound {
  background-color: blue;
}
.tile-btn {
  text-align: center;
  cursor: pointer;
  border-radius: 1%;
  -webkit-box-shadow: 4px 4px 25px -3px rgba(112, 101, 112, 1);
  -moz-box-shadow: 4px 4px 25px -3px rgba(112, 101, 112, 1);
  box-shadow: 4px 4px 25px -3px rgba(112, 101, 112, 1);
}

.tile-btn:active {
  -webkit-box-shadow: 4px 4px 7px -3px rgba(112, 101, 112, 1);
  -moz-box-shadow: 4px 4px 7px -3px rgba(112, 101, 112, 1);
  box-shadow: 4px 4px 7px -3px rgba(112, 101, 112, 1);
}
.event-tile {
  width: 20em;
  height: 20em;
}

.event-tile:active {
  width: 19em;
  height: 19em;
}

.loc-tile {
  width: 11em;
  height: 11em;
}

.loc-tile:active {
  width: 10em;
  height: 10em;
}

.solid-color {
  background: #adaabf;
}

.solid-color:hover {
  background: #737180;
}
.location-links {
  margin: 0.5em;
  padding: 1.5em;
  float: left;
}
.location-links a {
  text-decoration: none;
  color: black;
}
.button-image {
  width: 100%;
}
.image {
  width: 75%;
}
.image:active {
  width: 75%;
}
a:active {
  font-size: 0.95em;
}
.background-image {
  height: 15em;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  border-radius: 1%;
}
.event-links {
  margin: 1em;
  float: left;
}
.event-links a {
  text-decoration: none;
  color: black;
}
.poster {
  align: center;
  justify-content: center;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.bar {
  background-color: #ffc603;
}
.compound {
  background-color: #02d8e8;
}
.truck {
  background-color: teal;
}
.storage {
  background-color: gray;
}
.event-staff {
  background: #ffb400;
}
.event-requests {
  background: #00ccc4;
}
.event-locations {
  background: #898f8f;
}
.event-feed {
  background: #cc3a26;
}
.order-header {
  padding: 2em;
}
.submitted {
  background-color: rgb(30, 55, 212);
}
.pending {
  background-color: #ff5b03;
}
.completed {
  background-color: rgb(77, 21, 137);
}
.delivered {
  background-color: rgb(23, 153, 33);
}
.canceled {
  background-color: rgb(223, 30, 30);
}
.status {
  color: white;
  padding: 0.1em;
  border-radius: 5%;
  font-size: 60%;
  vertical-align: super;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pending {
  background-color: #ff5b03;
}
.in_progress {
  background-color: rgb(30, 82, 212);
}
.new {
  background-color: #ffb400;
  border: 1px solid black;
  color: black;
}
