<h1>Settings</h1>
<%= link_to 'New Account', new_account_path , class:'btn waves-effect waves-light center' %>

<%= link_to 'Customers Index', customers_path, class: 'btn waves-effect waves-light center' %>
