<h1>Editing Location</h1>

<%= render 'form', location: @location %>

<%= link_to 'Show', event_location_path(@event, @location) %> |
<%= link_to 'Back To Event', event_location_path(@event, @location) %> |
<%= link_to 'Destroy', event_location_path(@event, @location), method: :delete, data: { confirm: 'Are you sure?' } %>
