<%= link_to 'Back To Location', event_location_path(@event, @location), class: 'btn waves-effect waves-light right' %>
<h4>Editing Location: <%= @location.title %></h4>

<%= render 'form', location: @location %>


<%= link_to 'Destroy', event_location_path(@event, @location), class: 'btn waves-effect waves-light right' , method: :delete, data: { confirm: 'Are you sure?' } %>
