<%= link_to 'Back To Locations', event_locations_path(@event), class: 'left btn waves-effect waves-light' %>
<header><h4 class="display-4 center"><%= @event.title%> Locations</h4></header>

  <div class="container">

  <%= render 'locations', locations: @locations %>

  </div>
