<%= render 'slidenav' %>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>fifo's Front end</h1>
    <h2>Account#show</h2>

    <%= link_to 'Events', account_events_path(account_id: current_user.account_id), class: 'btn btn-primary btn-lg' %>


<script>
  // Initialize collapse button
  $('.button-collapse').sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();

   $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );

</script>

